@model OrderViewModel

@{
    ViewBag.Title = "Create Order";
}
 <div class="row">
        @foreach (Product product in Model.Products)
        {
            <div class="col-md-4 mb-4">
                <form asp-action="AddItem" asp-controller="Order" method="post">
                    <input type="hidden" name="id" value="@product.ProductId" />
                <div class="card">
                    <img src="@Url.Content("~/images/" + product?.ImageUrl)"  class="card-img-top fixed-img-height" alt="@product.Name">
                    <div class="card-body">
                       @product.Name -@product.Price.ToString("C")
                       <input type="hidden" value="@product.ProductId" name="prodId"/>
                        <input type="number" value="@product.ProductId" name="prodQty" class="form-control" />
                        <button class="btn btn-info" type="submit"> Add</button>
                        </div>
                </div>
                </form>
        </div>
        </div>
